* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #e50914;
    --bright-red: #ff2430;
    --blue: #0878ff;
    --black: #030405;
    --white: #ffffff;
    --gray: #747b86;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    color: white;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}


/* =========================
   BACKGROUND
========================= */

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -5;

    background:
        radial-gradient(
            circle at 75% 25%,
            rgba(10, 70, 150, .20),
            transparent 28%
        ),

        radial-gradient(
            circle at 15% 60%,
            rgba(229, 9, 20, .14),
            transparent 30%
        ),

        #030405;
}

.noise {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    opacity: .035;

    background-image:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.9' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
}

.red-light {
    position: fixed;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: rgba(229, 9, 20, .10);
    filter: blur(100px);
    left: -250px;
    top: 45%;
    pointer-events: none;
}

.blue-light {
    position: fixed;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(0, 90, 255, .10);
    filter: blur(120px);
    right: -250px;
    top: 15%;
    pointer-events: none;
}


/* =========================
   LOADER
========================= */

.loader {
    position: fixed;
    inset: 0;
    background: #020304;
    z-index: 99999;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

.loader-content {
    text-align: center;
    position: relative;
    z-index: 2;
}

.loader-spider {
    font-size: 60px;
    animation: bounce 1s infinite alternate;
}

.loader-title {
    font-family: "Bebas Neue";
    font-size: 50px;
    letter-spacing: 8px;
    color: var(--red);
}

.loader-line {
    width: 180px;
    height: 2px;
    background: var(--red);
    margin: 15px auto;
    animation: loading 1.4s infinite;
}

.loader-text {
    font-size: 8px;
    letter-spacing: 4px;
    color: #666;
}

.loader-web {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff10;
    border-radius: 50%;
    box-shadow:
        0 0 0 60px #ffffff08,
        0 0 0 120px #ffffff05,
        0 0 0 180px #ffffff03;

    animation: rotateWeb 10s linear infinite;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

@keyframes loading {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes rotateWeb {
    to {
        transform: rotate(360deg);
    }
}


/* =========================
   NAVBAR
========================= */

.navbar {
    height: 76px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 5000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 6%;

    background: rgba(2, 3, 5, .72);
    backdrop-filter: blur(20px);

    border-bottom: 1px solid #ffffff0d;
}

.logo {
    color: white;
    text-decoration: none;

    font-family: "Bebas Neue";
    font-size: 30px;
    letter-spacing: 4px;
}

.logo span {
    color: var(--red);
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #737a84;
    text-decoration: none;

    font-size: 8px;
    font-weight: 800;
    letter-spacing: 2px;

    transition: .3s;
}

nav a:hover {
    color: white;
}

.menu {
    display: none;
    background: none;
    color: white;
    border: none;
    font-size: 25px;
}


/* =========================
   HUD
========================= */

.hud {
    position: fixed;
    top: 100px;

    z-index: 20;

    display: flex;
    flex-direction: column;
    gap: 8px;

    color: #353b44;

    font-size: 7px;
    letter-spacing: 2px;
}

.left-hud {
    left: 20px;
}

.right-hud {
    right: 20px;
    text-align: right;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 100vh;

    position: relative;

    display: flex;
    align-items: center;

    padding: 120px 7% 60px;

    overflow: hidden;
}


/* HERO CONTENT */

.hero-content {
    width: 53%;
    position: relative;
    z-index: 20;
}

.availability {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #ffffff16;

    padding: 9px 12px;

    color: #888f99;

    font-size: 8px;
    font-weight: 800;
    letter-spacing: 2px;

    margin-bottom: 25px;
}

.availability span {
    width: 7px;
    height: 7px;

    border-radius: 50%;

    background: #26e51b;

    box-shadow: 0 0 15px #26e51b;
}

.small-title {
    color: var(--red);

    font-size: 9px;
    font-weight: 900;

    letter-spacing: 5px;

    margin-bottom: 10px;
}

.hero h1 {
    font-family: "Bebas Neue";

    font-size: clamp(80px, 11vw, 165px);

    line-height: .73;

    letter-spacing: 3px;
}

.hero h1 span {
    display: block;
}

.outline {
    color: transparent;

    -webkit-text-stroke: 1.5px white;
}

.red-text {
    color: var(--red);

    text-shadow:
        7px 7px 0 #111,
        0 0 40px rgba(229, 9, 20, .25);
}

.role {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-top: 32px;

    color: #c2c6cc;

    font-size: 9px;
    font-weight: 800;
    letter-spacing: 2px;
}

.role b {
    color: var(--red);
}

.hero-description {
    max-width: 530px;

    margin-top: 22px;

    color: #737b86;

    font-size: 12px;

    line-height: 1.9;
}

.buttons {
    display: flex;
    gap: 12px;

    margin-top: 30px;
}

.primary-btn,
.secondary-btn {
    padding: 15px 20px;

    text-decoration: none;

    font-size: 8px;
    font-weight: 900;
    letter-spacing: 2px;

    transition: .3s;
}

.primary-btn {
    background: var(--red);
    color: white;
}

.primary-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 50px #e5091440;
}

.secondary-btn {
    border: 1px solid #303640;
    color: white;
}

.secondary-btn:hover {
    border-color: var(--red);
    color: var(--red);
}

.social-links {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.social-links a {
    text-decoration: none;

    color: #454c56;

    font-size: 8px;
    font-weight: 800;
    letter-spacing: 2px;
}

.social-links a:hover {
    color: var(--red);
}


/* =========================
   WEB BACKGROUND
========================= */

.web-background {
    position: absolute;

    width: 850px;
    height: 850px;

    right: -80px;
    top: 50%;

    transform: translateY(-50%);

    opacity: .42;

    z-index: 1;
}

.web-circle {
    position: absolute;

    border: 1px solid #ffffff12;

    border-radius: 50%;

    inset: 0;
}

.circle2 {
    inset: 90px;
}

.circle3 {
    inset: 180px;
}

.web-line {
    position: absolute;

    width: 100%;
    height: 1px;

    top: 50%;

    left: 0;

    background: #ffffff12;

    transform-origin: center;
}

.line1 {
    transform: rotate(0deg);
}

.line2 {
    transform: rotate(30deg);
}

.line3 {
    transform: rotate(60deg);
}

.line4 {
    transform: rotate(90deg);
}

.line5 {
    transform: rotate(120deg);
}

.line6 {
    transform: rotate(150deg);
}


/* =========================
   PARTICLES
========================= */

.particles {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.particles i {
    position: absolute;

    width: 3px;
    height: 3px;

    border-radius: 50%;

    background: var(--red);

    box-shadow: 0 0 12px var(--red);

    animation: particleFloat 4s infinite ease-in-out;
}

.particles i:nth-child(1) {
    left: 55%;
    top: 20%;
}

.particles i:nth-child(2) {
    left: 68%;
    top: 16%;
}

.particles i:nth-child(3) {
    left: 77%;
    top: 28%;
}

.particles i:nth-child(4) {
    left: 62%;
    top: 50%;
}

.particles i:nth-child(5) {
    left: 82%;
    top: 60%;
}

.particles i:nth-child(6) {
    left: 70%;
    top: 75%;
}

.particles i:nth-child(7) {
    left: 90%;
    top: 35%;
}

.particles i:nth-child(8) {
    left: 58%;
    top: 80%;
}

.particles i:nth-child(9) {
    left: 48%;
    top: 30%;
}

.particles i:nth-child(10) {
    left: 85%;
    top: 75%;
}

.particles i:nth-child(11) {
    left: 73%;
    top: 10%;
}

.particles i:nth-child(12) {
    left: 93%;
    top: 55%;
}

.particles i:nth-child(13) {
    left: 65%;
    top: 90%;
}

.particles i:nth-child(14) {
    left: 52%;
    top: 65%;
}

.particles i:nth-child(15) {
    left: 80%;
    top: 12%;
}

@keyframes particleFloat {
    50% {
        transform: translateY(-18px);
        opacity: .3;
    }
}


/* =========================
   SPIDER-MAN AREA
========================= */

.spiderman-area {
    position: absolute;

    width: 57%;
    height: 90%;

    right: -1%;
    top: 8%;

    z-index: 10;
}


/* RED/BLUE GLOW */

.spider-glow {
    position: absolute;

    width: 480px;
    height: 480px;

    right: 15%;
    top: 15%;

    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            rgba(229, 9, 20, .25),
            rgba(0, 60, 160, .12),
            transparent 65%
        );

    filter: blur(15px);

    animation: glowPulse 4s infinite alternate;
}

@keyframes glowPulse {
    from {
        transform: scale(.95);
        opacity: .7;
    }

    to {
        transform: scale(1.08);
        opacity: 1;
    }
}


/* SPIDERMAN */

.spiderman-wrapper {
    position: absolute;

    width: 650px;
    height: 700px;

    right: 4%;
    top: 4%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 15;

    animation: spiderFloat 5s ease-in-out infinite;
}

.spiderman {
    width: 100%;
    height: 100%;

    object-fit: contain;

    filter:
        drop-shadow(0 35px 35px rgba(0, 0, 0, .8))
        drop-shadow(0 0 30px rgba(229, 9, 20, .20));

    user-select: none;

    transition: transform .25s ease-out;
}


/* SHADOW */

.spiderman-shadow {
    position: absolute;

    width: 300px;
    height: 50px;

    bottom: 30px;

    background: #000;

    border-radius: 50%;

    filter: blur(25px);

    opacity: .6;
}

@keyframes spiderFloat {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-18px) rotate(-1deg);
    }
}


/* =========================
   COMIC BURST
========================= */

.comic-burst {
    position: absolute;

    top: 8%;
    right: 8%;

    width: 130px;
    height: 130px;

    background: var(--red);

    clip-path: polygon(
        50% 0%,
        61% 23%,
        79% 8%,
        77% 32%,
        100% 27%,
        82% 48%,
        100% 63%,
        75% 66%,
        83% 92%,
        61% 75%,
        49% 100%,
        40% 77%,
        15% 91%,
        23% 67%,
        0% 60%,
        23% 47%,
        4% 28%,
        28% 32%,
        22% 7%,
        41% 23%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: rotate(10deg);

    z-index: 20;

    animation: burst 3s infinite ease-in-out;
}

.comic-burst span {
    font-family: "Bebas Neue";
    font-size: 17px;
    letter-spacing: 2px;
}

@keyframes burst {
    50% {
        transform: rotate(5deg) scale(1.05);
    }
}


/* =========================
   WEB TARGET
========================= */

.web-target {
    position: absolute;

    width: 500px;
    height: 500px;

    right: 12%;
    top: 16%;

    border: 1px solid #ffffff16;

    border-radius: 50%;

    z-index: 3;

    animation: targetRotate 30s linear infinite;
}

.web-target::before,
.web-target::after {
    content: "";

    position: absolute;

    inset: 70px;

    border: 1px solid #ffffff12;

    border-radius: 50%;
}

.web-target::after {
    inset: 140px;
}

.web-target div {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 100%;
    height: 1px;

    background: #ffffff13;

    transform-origin: center;
}

.web-target div:nth-child(1) {
    transform: rotate(0deg);
}

.web-target div:nth-child(2) {
    transform: rotate(60deg);
}

.web-target div:nth-child(3) {
    transform: rotate(120deg);
}

@keyframes targetRotate {
    to {
        transform: rotate(360deg);
    }
}


/* =========================
   FLOATING LABELS
========================= */

.floating-label {
    position: absolute;

    z-index: 30;

    padding: 9px 12px;

    border-left: 2px solid var(--red);

    background: rgba(3, 4, 5, .75);

    backdrop-filter: blur(10px);

    color: #7e8690;

    font-size: 7px;
    font-weight: 800;

    letter-spacing: 2px;

    animation: labelFloat 4s infinite ease-in-out;
}

.floating-label span {
    color: var(--red);
    margin-right: 8px;
}

.label1 {
    right: 2%;
    top: 35%;
}

.label2 {
    left: 8%;
    top: 48%;
    animation-delay: 1s;
}

.label3 {
    right: 5%;
    bottom: 20%;
    animation-delay: 2s;
}

@keyframes labelFloat {
    50% {
        transform: translateY(-10px);
    }
}


/* =========================
   WEB SHOOT
========================= */

.web-shoot {
    position: absolute;

    left: 4%;
    top: 32%;

    width: 220px;
    height: 200px;

    z-index: 8;

    transform: rotate(-25deg);
}

.web-shoot span {
    display: block;

    width: 100%;
    height: 1px;

    background: linear-gradient(
        90deg,
        transparent,
        white,
        transparent
    );

    box-shadow: 0 0 8px white;

    animation: shoot 2.5s infinite;
}

@keyframes shoot {
    0% {
        transform: scaleX(0);
        transform-origin: left;
        opacity: 0;
    }

    30% {
        transform: scaleX(1);
        opacity: 1;
    }

    70% {
        transform: scaleX(1);
        opacity: .8;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
        opacity: 0;
    }
}


/* =========================
   SCROLL
========================= */

.scroll {
    position: absolute;

    left: 7%;
    bottom: 25px;

    color: #414852;

    font-size: 8px;
    letter-spacing: 3px;

    z-index: 30;
}

.scroll span {
    color: var(--red);
    font-size: 18px;
    margin-left: 8px;
}


/* =========================
   SECTIONS
========================= */

.section {
    padding: 130px 7%;

    border-top: 1px solid #ffffff0b;

    position: relative;

    overflow: hidden;
}

.section-label {
    color: var(--red);

    font-size: 9px;
    font-weight: 900;

    letter-spacing: 4px;

    margin-bottom: 50px;
}


/* ABOUT */

.about-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 100px;

    align-items: center;
}

.about h2 {
    font-family: "Bebas Neue";

    font-size: clamp(70px, 9vw, 140px);

    line-height: .78;
}

.about h2 span {
    display: block;
    color: var(--red);
}

.stamp {
    display: inline-block;

    border: 2px solid var(--red);

    color: var(--red);

    font-family: "Bebas Neue";

    font-size: 18px;

    letter-spacing: 2px;

    padding: 12px;

    margin-top: 35px;

    transform: rotate(-5deg);
}

.about-text {
    max-width: 600px;

    color: #777f89;

    font-size: 13px;

    line-height: 1.9;
}

.about-text p {
    margin-bottom: 25px;
}


/* BIG TITLES */

.big-title {
    font-family: "Bebas Neue";

    font-size: clamp(75px, 11vw, 160px);

    line-height: .75;

    letter-spacing: 3px;

    margin-bottom: 70px;
}

.big-title span {
    color: var(--red);
}


/* =========================
   SKILLS
========================= */

.skill-web {
    position: relative;

    height: 480px;

    max-width: 1000px;

    margin: auto auto 80px;

    border-radius: 50%;

    border: 1px solid #ffffff12;
}

.skill-web::before,
.skill-web::after {
    content: "";

    position: absolute;

    border: 1px solid #ffffff0c;

    border-radius: 50%;

    inset: 70px;
}

.skill-web::after {
    inset: 150px;
}

.skill-center {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 120px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--red);

    border-radius: 50%;

    color: var(--red);

    text-align: center;

    font-family: "Bebas Neue";

    font-size: 20px;

    letter-spacing: 2px;

    box-shadow:
        0 0 40px #e5091420;
}

.skill {
    position: absolute;

    padding: 11px 15px;

    border: 1px solid #303640;

    background: #06080b;

    color: #adb4bd;

    font-size: 8px;
    font-weight: 900;

    letter-spacing: 1px;

    transition: .3s;
}

.skill:hover {
    color: white;

    border-color: var(--red);

    transform: scale(1.1);

    box-shadow: 0 0 30px #e5091430;
}

.s1 {
    top: 13%;
    left: 8%;
}

.s2 {
    top: 13%;
    right: 8%;
}

.s3 {
    top: 48%;
    left: 1%;
}

.s4 {
    top: 48%;
    right: 1%;
}

.s5 {
    bottom: 12%;
    left: 15%;
}

.s6 {
    bottom: 12%;
    right: 15%;
}

.s7 {
    top: 2%;
    left: 46%;
}

.s8 {
    bottom: 2%;
    left: 43%;
}

.skill-cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 18px;
}

.skill-cards article {
    padding: 32px;

    min-height: 250px;

    border: 1px solid #ffffff10;

    background: #07090c;

    transition: .3s;
}

.skill-cards article:hover {
    transform: translateY(-8px);

    border-color: #e5091460;
}

.skill-icon {
    color: var(--red);
    font-size: 28px;
}

.skill-cards h3 {
    font-family: "Bebas Neue";
    font-size: 35px;

    margin: 25px 0 15px;
}

.skill-cards p {
    color: #707883;

    font-size: 11px;

    line-height: 1.8;
}


/* =========================
   PROJECTS
========================= */

.project-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 18px;
}

.project-card {
    position: relative;

    min-height: 480px;

    padding: 32px;

    border: 1px solid #ffffff10;

    background:
        linear-gradient(
            145deg,
            #0b0e13,
            #050608
        );

    overflow: hidden;

    transition: .35s;
}

.project-card::after {
    content: "";

    position: absolute;

    width: 300px;
    height: 300px;

    right: -100px;
    bottom: -100px;

    border: 1px solid #e5091418;

    border-radius: 50%;

    box-shadow:
        0 0 0 40px #e5091407,
        0 0 0 80px #e5091404;
}

.project-card:hover {
    transform: translateY(-8px);

    border-color: #e5091460;

    box-shadow: 0 30px 80px #000;
}

.project-card.wide {
    grid-column: 1 / -1;

    min-height: 350px;
}

.project-number {
    position: absolute;

    right: 25px;
    top: 15px;

    font-family: "Bebas Neue";

    font-size: 70px;

    color: #20252c;
}

.project-type {
    color: var(--red);

    font-size: 8px;
    font-weight: 900;

    letter-spacing: 2px;
}

.project-card h3 {
    position: relative;
    z-index: 2;

    font-family: "Bebas Neue";

    font-size: 58px;

    line-height: .85;

    letter-spacing: 2px;

    margin: 55px 0 25px;
}

.project-card p {
    position: relative;
    z-index: 2;

    max-width: 600px;

    color: #737b85;

    font-size: 11px;

    line-height: 1.8;
}

.chips {
    position: relative;
    z-index: 3;

    display: flex;

    flex-wrap: wrap;

    gap: 7px;

    margin-top: 25px;
}

.chips span {
    border: 1px solid #272d35;

    padding: 7px 9px;

    color: #838b95;

    font-size: 7px;
}

.project-card > a {
    position: absolute;

    bottom: 25px;
    right: 25px;

    z-index: 5;

    color: white;

    text-decoration: none;

    font-size: 8px;
    font-weight: 900;

    letter-spacing: 2px;
}

.project-card > a:hover {
    color: var(--red);
}


/* =========================
   EDUCATION
========================= */

.education-list {
    border-top: 1px solid #ffffff10;
}

.education-list article {
    display: grid;

    grid-template-columns: 180px 1fr 100px;

    gap: 30px;

    align-items: center;

    padding: 30px 0;

    border-bottom: 1px solid #ffffff10;
}

.education-list article > span {
    color: var(--red);

    font-size: 8px;

    font-weight: 900;

    letter-spacing: 2px;
}

.education-list h3 {
    font-size: 13px;

    margin-bottom: 7px;
}

.education-list p {
    color: #737b85;

    font-size: 10px;
}

.education-list strong {
    font-family: "Bebas Neue";

    font-size: 35px;

    text-align: right;
}


/* =========================
   CONTACT
========================= */

.contact {
    min-height: 90vh;

    padding: 150px 7%;

    display: flex;
    flex-direction: column;

    justify-content: center;

    position: relative;

    overflow: hidden;

    background:
        radial-gradient(
            circle at 70% 50%,
            #e5091410,
            transparent 35%
        );
}

.contact-web {
    position: absolute;

    width: 700px;
    height: 700px;

    right: -200px;
    top: 50%;

    transform: translateY(-50%);

    border: 1px solid #ffffff0c;

    border-radius: 50%;

    box-shadow:
        0 0 0 70px #ffffff05,
        0 0 0 140px #ffffff03;
}

.contact h2 {
    position: relative;
    z-index: 2;

    font-family: "Bebas Neue";

    font-size: clamp(80px, 12vw, 175px);

    line-height: .75;
}

.contact h2 span {
    color: var(--red);
}

.contact p {
    position: relative;
    z-index: 2;

    max-width: 500px;

    color: #727a84;

    font-size: 12px;

    line-height: 1.8;

    margin-top: 30px;
}

.email {
    position: relative;
    z-index: 2;

    display: inline-block;

    width: fit-content;

    margin-top: 35px;

    color: white;

    text-decoration: none;

    font-size: 16px;

    font-weight: 800;

    letter-spacing: 2px;

    border-bottom: 2px solid var(--red);

    padding-bottom: 8px;
}

.email:hover {
    color: var(--red);
}

.contact-social {
    position: relative;
    z-index: 2;

    display: flex;

    gap: 25px;

    margin-top: 30px;
}

.contact-social a {
    color: #555d67;

    text-decoration: none;

    font-size: 8px;

    font-weight: 900;

    letter-spacing: 2px;
}

.contact-social a:hover {
    color: var(--red);
}


/* =========================
   FOOTER
========================= */

footer {
    display: flex;

    justify-content: space-between;

    padding: 25px 7%;

    border-top: 1px solid #ffffff0c;

    color: #3f4650;

    font-size: 7px;

    letter-spacing: 2px;
}


/* =========================
   MOBILE
========================= */

@media(max-width:900px) {

    nav {
        display: none;

        position: absolute;

        left: 0;
        right: 0;
        top: 76px;

        padding: 25px;

        background: #050608;

        flex-direction: column;

        border-bottom: 1px solid #ffffff10;
    }

    nav.active {
        display: flex;
    }

    .menu {
        display: block;
    }

    .hud {
        display: none;
    }

    .hero {
        min-height: 900px;
    }

    .hero-content {
        width: 100%;
    }

    .spiderman-area {
        width: 100%;
        height: 650px;

        top: 380px;
        right: -10%;

        opacity: .55;
    }

    .spiderman-wrapper {
        width: 500px;
        height: 550px;
    }

    .web-background {
        opacity: .2;
    }

    .about-grid {
        grid-template-columns: 1fr;

        gap: 50px;
    }

    .skill-cards {
        grid-template-columns: 1fr;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .project-card.wide {
        grid-column: auto;
    }

    .education-list article {
        grid-template-columns: 1fr;

        gap: 10px;
    }

    .education-list strong {
        text-align: left;
    }

    footer {
        flex-direction: column;

        gap: 10px;
    }
}


@media(max-width:550px) {

    .hero {
        padding-left: 6%;
        padding-right: 6%;
    }

    .hero h1 {
        font-size: 70px;
    }

    .role {
        flex-wrap: wrap;
    }

    .buttons {
        flex-direction: column;

        width: 220px;
    }

    .spiderman-area {
        top: 430px;

        right: -25%;

        opacity: .35;
    }

    .spiderman-wrapper {
        width: 420px;
        height: 480px;
    }

    .floating-label,
    .comic-burst {
        display: none;
    }

    .skill-web {
        display: none;
    }

    .project-card h3 {
        font-size: 45px;
    }

    .big-title {
        font-size: 75px;
    }

    .contact h2 {
        font-size: 75px;
    }

}

/* =========================
   SCROLL REVEAL
========================= */

.reveal {
    opacity: 0;
    transform: translateY(45px);
    transition:
        opacity .9s ease,
        transform .9s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

nav a.active {
    color: white;
}

nav a.active::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    margin-top: 5px;
    background: #e50914;
}
